*.elc
.cask
*~
*.~undo-tree
__pycache__/
*.py[cod]
.env
.venv
*.eld
env/
venv/
ENV/
env.bak/
venv.bak/
build/
/elpy/
/elpa/
/eshell/
/from_others/
/recentf
/transient/
/projectile.cache
*-autoloads.el

